<ion-view view-title="这是一篇游记">

  <ion-content id="youlist">
    <img src={{str.imgs[0]}}>
    <span>{{str.xiaoji[0]}}</span>
    <p>{{str.pro[0]}}</p>

    <img src={{str.imgs[1]}}>
    <span>{{str.xiaoji[1]}}</span>
    <p>{{str.pro[1]}}</p>

    <img src={{str.imgs[2]}}>
    <span>{{str.xiaoji[2]}}</span>
    <p>{{str.pro[2]}}</p>

    <img src={{str.imgs[3]}}>
    <span>{{str.xiaoji[3]}}</span>
    <p>{{str.pro[3]}}</p>

    <img src={{str.imgs[4]}}>
    <span>{{str.xiaoji[4]}}</span>
    <p>{{str.pro[4]}}</p>



  </ion-content>



</ion-view>
